<div>
    <a asp-controller="Home" asp-action="GetStudents">List all students</a>
    <a asp-controller="Home" asp-action="GetAverageProgress">Average progres</a>
    <a asp-controller="Home" asp-action="GetActiveStudents">Top 3 active students</a>
</div>
