<div>
    <a asp-controller="Home" asp-action="GetCourses">List of Courses</a>
    <a asp-controller="Home" asp-action="GetMentors">List of mentors</a>
    <a asp-controller="Home" asp-action="GetSubscriptions">Subscriptions</a>
</div>
